.buttonbg{
    border: 1px solid rgba(255, 255, 255, 0.66);
    background: linear-gradient(109deg, rgba(255, 255, 255, 0.24) 5.45%, rgba(255, 255, 255, 0.00) 140.81%);
    backdrop-filter: blur(1.69999694824219px);
}
