@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "kapakana";
    src: url("./assets/fonts/kapakana-regular.ttf");
  }
  
@font-face {
    font-family: "michroma";
    src: url("./assets/fonts/Michroma-Regular.ttf");
  }

@font-face {
    font-family: "redhatregular";
    src: url("./assets/fonts/RedHatDisplay-Regular.ttf");
  }

@font-face {
    font-family: "redhatmedium";
    src: url("./assets/fonts/RedHatDisplay-Medium.ttf");
  }